.container {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    margin-right: auto;
    margin-left: auto;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.inputContainer {
    position: relative;
    display: inline-block;
}

.inputSearch {
    position: relative;
    padding: 8px 60px 8px 18px;
    border-radius: 6px;
    font-family: inherit;
    outline: transparent;
    width: 100%;
    border: none;
    border-radius: 13px;
    border: 1.5px solid rgba(23, 23, 23, 0.08);
    box-shadow: 0px 10px 10px 0px rgba(9, 9, 9, 0.08);
    transition: border-color 250ms ease-in-out;
}

.inputContainer:hover .inputSearch {
    border-color: var(--blue-animation);
    box-shadow: 0 0 30px rgba(19, 100, 232, 0.2);
}

.searchButton {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}