:root {
    --light-background: #ffffff;
    --light-gray-background: #d7d1d1;
    --ligth-blue-background: #0abdd4;
    --black-background: #494848;
    --text-dark: #1B1B1B;
    --blue-background: #4043ec;
    --blue-animation: #0a0b64;
    --red-background: #e81d16;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    letter-spacing: 0.02em;
    font-size: 16px;
    color: var(--text-dark);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.container {
    padding-left: 16px;
    padding-right: 16px;
    margin-right: auto;
    margin-left: auto;
}




