.containerHome {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    margin-right: auto;
    margin-left: auto;
}

.heroTitle {
    font-size: 28px;
    font-weight: 700;
} 

.listImg {
    max-width: 400px;
}